#pie-pagina{
        background-color: $colorbg;
    .logo{
        font-size: 2em;
        font-family: 'Anton', sans-serif !important;
        text-align: center;
        text-decoration: none;}

    a{
        text-decoration: none;}

    .box2{
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;}

    .red-social{
        text-align: center;}

    .red-social a{
        margin: 10px;
        background-color: #dfcdf0;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        display: flex;
        display: inline-block;
        text-align: center;
        line-height: 30px;}

    .grupo-2{
        background-color: #395b81;
        text-align: center;
        color: #e6e7fc;
        height: 40px;
        margin-top: 5px;}
    }