#service{
    .container{
        text-align: center;
        padding: 40px;
    }
    .gestiones{
        width: 300px;
        height: 40vh;
        margin: 30px auto;
    }
    .flete{
        width: 300px;
        height: 40vh;
        margin-bottom: 30px;
    }
}